# Pre-commit hooks for repo.

# Packages:
#   pre-commit: General pre-commits for formatting.
#   black: Python code strict formatting.
#   pyupgrade:  Upgrade syntax for newer versions of the language.
#   isort: Sorts imports.
#   flake8: Checks code follows PEP8 standard.
#   mypy: Static typing.
#   conventional-pre-commit: commit format checker.
#   blacken-docs: Checks docs follow black format standard.
#   pydocstyle: Checking docstring style.
#   interrogate: Checks docstring code coverage.

default_stages: [commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude_types: [image]
      - id: check-merge-conflict
      - id: debug-statements
      - id: mixed-line-ending
      - id: check-yaml

  - repo: https://github.com/psf/black
    rev: 23.12.0
    hooks:
      - id: black
        exclude_types: [image]

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.0
    hooks:
      - id: pyupgrade

  - repo: https://github.com/timothycrosley/isort
    rev: 5.13.2
    hooks:
      - id: isort

  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        additional_dependencies: [flake8-isort]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.7.1
    hooks:
      - id: mypy
        exclude: ^docs/
        args: [--config-file=mypy.ini]

  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.0.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]


  - repo: https://github.com/asottile/blacken-docs
    rev: 1.16.0
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==22.3.0]

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
    -   id: pydocstyle
        name: Checking docstring style.
        args: ["--convention=google","--add-ignore=D100,D202,D101,D415"]

  - repo: https://github.com/econchick/interrogate
    rev: 1.5.0
    hooks:
      - id: interrogate
        name: Checking docstring code coverage.
        args: ["--config=pyproject.toml","marl_eval"]
        pass_filenames: false

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        name: codespell
        description: Checks for common misspellings in text files.
        entry: codespell --ignore-words=.codespell-ignore.txt
        language: python
        types: [text]
